@use "src/utils/index.scss" as base;

.container {
  position: fixed;
  border-right: 1px solid black;
  border-left: 1px solid black;
  max-height: 100%;
  min-height: 100vh;
  right: 55%;
  overflow-y: auto;
  width: 45%;
  max-width: 60rem;
  min-width: 30rem;
  background-color: #eee;
  @include base.scrollNone;
  padding-top: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
}

.recipe_border {
  border-bottom: 1px solid black;
}

.recipe {
  margin: 1rem;
  border: 1px dashed gray;
  padding: 2rem;
  padding-bottom: 4rem;
}

.recipe_border:last-child {
  border-bottom: none;
  padding-bottom: 1rem;
}

.add {
  padding: 3rem 0;
  text-align: center;
}

.recipe.chosen {
  background-color: rgba(0, 119, 255, 0.601);
  border: 1px solid black;
}

.recipe.last-chosen {
  background-color: rgba(0, 255, 255, 0.145);
  border: 1px dashed gray;
}
